.container_box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.videobox {
  margin-top: 50px;
  width: 80%;
  margin-bottom: 4rem;
  padding: 0.5rem;
  position: relative;
  .videobox_item {
    box-sizing: border-box;
    border: 5px solid lightpink;
    position: relative;

    i {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      color: white;
      transition: all 0.3s ease-in;
      &:hover {
        transform: translate(-50%, -50%) scale(1.2);
        color: lightpink;
      }
    }
  }
  & > span {
    position: absolute;
    display: block;
    background-color: lightpink;
    &:first-of-type {
      top: 0;
      left: 50%;
      width: 0;
      height: 0.5rem;
      animation: video_ani1 1s linear forwards;
    }
    &:nth-of-type(2) {
      top: 0;
      right: 50%;
      width: 0;
      height: 0.5rem;
      animation: video_ani1 1s linear forwards;
    }
    @keyframes video_ani1 {
      0% {
        width: 0;
      }
      100% {
        width: 50%;
      }
    }
    &:nth-of-type(3) {
      top: 0;
      left: 0%;
      width: 0.5rem;
      height: 0;
      animation: video_ani2 1s linear forwards;
      animation-delay: 1s;
    }
    &:nth-of-type(4) {
      top: 0;
      right: 0%;
      width: 0.5rem;
      height: 0;
      animation: video_ani2 1s linear forwards;
      animation-delay: 1s;
    }

    @keyframes video_ani2 {
      0% {
        height: 0;
      }
      100% {
        height: 100%;
      }
    }
    &:nth-of-type(5) {
      bottom: 0;
      right: 0;
      width: 0;
      height: 0.5rem;
      animation: video_ani1 1s linear forwards;
      animation-delay: 2s;
    }
    &:nth-of-type(6) {
      bottom: 0;
      left: 0;
      width: 0;
      height: 0.5rem;
      animation: video_ani1 1s linear forwards;
      animation-delay: 2s;
    }
  }
}
