body {
  background-color: black;
  color: white;
}

#loading-box {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.88);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation: loadingAniHide 3s ease-in-out forwards;
  #loading-icon {
    animation: loadingAni 3s ease-in-out forwards;
    img {
      height: 150px;
      width: 150px;
    }
  }

  @keyframes loadingAni {
    20% {
      transform: rotate(1440deg) scale(1.2);
    }
    70% {
      transform: rotate(2880deg) scale(1.15);
    }
    100% {
      transform: rotate(4320deg);
    }
  }
  @keyframes loadingAniHide {
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.2s linear;
}
.hide#header {
  transform: translateY(-100px);
}
.navbar {
  .nav_head {
    display: flex;
    flex-wrap: inherit;
    align-items: center;

    width: 100%;
    background-color: black;
    padding: 0 1rem;
    .navbar-brand {
      margin-top: 5px;
      height: 70px;

      img {
        height: 100%;
      }
    }
    .nav_btn_cus {
      width: 30px;
      height: 30px;
      padding: 0;
      border: none;
      background-color: #000000;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      span {
        width: 100%;
        height: 3px;
        background-color: rgb(255, 255, 255);
        transition: all 0.2s linear;
      }
      span:nth-child(2) {
        transition: all 0.1s linear;
      }
      &[aria-expanded="true"] {
        span:nth-child(2) {
          transform: scale(0.1);
          transition: all 0.1 linear;
        }
        span:first-child {
          transform-origin: center left;
          transform: rotate(45deg);
        }
        span:last-child {
          transform-origin: center left;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .nav_body {
    padding: 0 1rem;
    background: linear-gradient(
      180deg,
      #000000 30%,
      rgba(209, 209, 209, 0) 100%
    );
    .slide_selects_nav {
      display: flex;
      flex-direction: column;
      div {
        margin: 0.2rem 0;
      }
    }
  }
  .nav-item {
    .nav-link {
      color: white;
      &:hover {
        color: yellow;
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar {
    .nav_head {
      background: linear-gradient(
        180deg,
        #000000 30%,
        rgba(209, 209, 209, 0) 100%
      );
      height: 100px;
    }
  }
}

main {
  .banner {
    margin-top: 80px;
    width: 100%;
    position: relative;

    & .banner_background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
      opacity: 0.7;
      background-image: url(../img/album1.jpg);
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: 90% 20%;
    }
    & .backfiliter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px);
      z-index: -1;
    }
    #banner_cover img {
      transition: opacity 0.4s ease-in-out;
    }
    #banner_thumbnails {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: scroll;
      padding-bottom: 5px;
      .thumbnail {
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        img {
          box-sizing: border-box;
          height: 18vw;
          width: 18vw;
          object-fit: cover;
          transition: all 0.3s ease-in-out;
        }
        &.active::before {
          content: "";
          position: absolute;
          bottom: -5px;
          height: 3px;
          width: 100%;
          background-color: rgb(255, 255, 255);
        }
      }
    }
  }
  @media (min-width: 992px) {
    .banner {
      margin-top: 100px;
      padding-left: 6vw;
      display: flex;
      justify-content: left;

      #banner_cover {
        width: 40vw;
      }
      #banner_thumbnails {
        flex-direction: column;
        justify-content: end;
        flex-wrap: wrap;
        overflow: visible;
        .thumbnail {
          &.active::before {
            content: "";
            position: absolute;
            left: -5px;
            bottom: 0;
            height: 100%;
            width: 5px;
            background-color: rgb(255, 255, 255);
          }
          img {
            height: 4vw;
            width: 4vw;
          }
        }
      }
    }
  }
  #intro_selection {
    margin-top: 70px;
    .intro-title {
      font-size: 1.75rem;
      font-weight: 600;
    }
    .fade_in_right {
      animation-name: fade_in_test;
    }
    @keyframes fade_in_test {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }
    .row {
      margin-bottom: 8rem;
    }

    @media (min-width: 992px) {
      .intro-title {
        font-size: 5rem;
        font-weight: 800;
      }
    }
  }

  #live_section {
    h1 {
      font-size: 2.5rem;
    }
    .videobox {
      margin-bottom: 4rem;
      padding: 0.5rem;
      position: relative;
      .videobox_item {
        box-sizing: border-box;
        border: 5px solid white;
        position: relative;
        cursor: pointer;
        i {
          padding: 0;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 3rem;
          color: white;
          transition: all 0.3s ease-in;
        }
        &:hover i {
          transform: translate(-50%, -50%) scale(1.2);
          color: lightpink;
        }
      }
      &.video_effect > span {
        $video_effect_time: 0.3s;
        position: absolute;
        display: block;
        background-color: lightpink;
        &:first-of-type {
          top: 0;
          left: 50%;
          width: 0;
          height: 0.5rem;
          animation: video_ani1 $video_effect_time ease-in forwards;
        }
        &:nth-of-type(2) {
          top: 0;
          right: 50%;
          width: 0;
          height: 0.5rem;
          animation: video_ani1 $video_effect_time ease-in forwards;
        }
        @keyframes video_ani1 {
          0% {
            width: 0;
          }
          100% {
            width: 50%;
          }
        }
        &:nth-of-type(3) {
          top: 0;
          left: 0%;
          width: 0.5rem;
          height: 0;
          animation: video_ani2 $video_effect_time linear forwards;
          animation-delay: $video_effect_time;
        }
        &:nth-of-type(4) {
          top: 0;
          right: 0%;
          width: 0.5rem;
          height: 0;
          animation: video_ani2 $video_effect_time linear forwards;
          animation-delay: $video_effect_time;
        }

        @keyframes video_ani2 {
          0% {
            height: 0;
          }
          100% {
            height: 100%;
          }
        }
        &:nth-of-type(5) {
          bottom: 0;
          right: 0;
          width: 0;
          height: 0.5rem;
          animation: video_ani1 $video_effect_time ease-out forwards;
          animation-delay: $video_effect_time * 2;
        }
        &:nth-of-type(6) {
          bottom: 0;
          left: 0;
          width: 0;
          height: 0.5rem;
          animation: video_ani1 $video_effect_time ease-out forwards;
          animation-delay: $video_effect_time * 2;
        }
      }
    }
    @media (min-width: 992px) {
      h1 {
        font-size: 5rem;
      }
    }
  }
  .modal {
    .modal-content {
      background-color: black;
      .modal-body {
        // display: flex;
        // align-items: center;

        iframe {
          // width: 100%;
          height: 56vw;
        }
      }
    }
  }
  #picture_section {
    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #sns_section {
    h1 {
      padding: 0 40px;
    }
    .sns_box {
      border-radius: 5px;
      display: flex;
      justify-content: center;
      #twitter-widget-0 {
        width: 100% !important;
      }
    }
  }

  .moving_box {
    $--box-size: 20vw;
    z-index: 10;
    position: fixed;
    right: 1vw;
    bottom: 20%;
    width: $--box-size;
    height: $--box-size;
    transform: rotate(-90deg);
    // display: flex;
    // align-items: end;

    .moving_item {
      height: 100%;
      width: 100%;
      background-image: url(../img/tsuchinoko_static.png);
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
      position: relative;

      transition-property: rotate, scale;
      transition-duration: 0.1s, 0.5s;
      transition-timing-function: ease-in-out, ease-in-out;
      transform-origin: bottom center;
      &.up {
        rotate: y 180deg;
      }
      &.hide {
        scale: 0.001;
      }
      &.moving {
        background-image: url(../img/tsuchinoko.gif);
      }

      .moving_item_touch {
        position: absolute;
        bottom: 0;
        width: $--box-size;
        height: $--box-size * 0.2;
      }
    }
    // &.turn-left {
    //   transform: rotate(0);

    //   animation: move_bocchi 2s linear infinite;
    // }
  }

  @keyframes move_bocchi {
    0% {
      // transform: translateX(0px) translateY(0px);
    }
    100% {
      // transform: translateX(150px) translateY(150px);
      offset-path: path(
        "M 185.007 0.967 Q 110.628 20.859 83.26 80.155 C 61.367 143.099 40.385 104.785 11.747 150.055"
      );
    }
  }
  @keyframes move {
    100% {
      offset-distance: 100%;
    }
  }
  #dancing-dog-gif {
    width: 100px;
    object-fit: cover;
  }
  @media (min-width: 992px) {
    .moving_box {
      $--box-size: 10vw;
      width: $--box-size;
      height: $--box-size;
      right: 0.5vw;
    }
  }
}

// footer

footer {
  margin-top: 200px;
  min-height: 150px;
  background-color: lightgray;
  #contact_list {
    & > div {
      text-align: center;

      button {
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
        color: white;
        background-image: url("../img/Polygon.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.25rem;
        transition: all 0.3s ease-out;

        i {
          position: relative;
          top: -0.25rem;
        }
        &:hover {
          transform: scale(1.1);
          // opacity: 0.7;

          filter: drop-shadow(0 0 10px rgb(255, 199, 44));
        }
      }
    }
  }
}
@media (min-width: 992px) {
  // footer {
  //   min-height: 100px;
  // }
}
